<div>
    <a href="/movies">Go Back</a>
    <br>


    <img src="{{details.image}}" alt="cartel">
    
    <h3>{{details.title}}</h3>

    <h4>{{details.director}}</h4>
    <p>Stars</p>
    <ul>
        {{#each details.stars}}
        
        <li>{{this}}</li>
        
        {{/each}}
    </ul>
    <p>{{details.description}}</p>
    {{details.showtimes}}
    

</div>