<div>
    <a href="/movies">Go Back</a>
    
    <h3>{{details.title}}</h3>

    <h4>{{details.director}}</h4>
    <p>Stars</p>
    <ul>
        {{#each details.stars}}
        <li>{{this.stars}}</li>
        {{/each}}
    </ul>
    <p>{{details.description}}</p>
    {{details.showtimes}}
    

</div>